@font-face {
    font-family: 'Conthrax';
    src: url(./font/conthrax-sb.otf);
}

@font-face {
    font-family: 'Roboto';
    src: url(./font/Roboto-Medium.ttf);
}
html{
	background:#F0F8FF;
}

#wrapper{
    position: relative;
    min-height: 100%;
}

#head {
	background-color: #153b68;
	margin: 0 auto;
	position: relative;
	min-height: 100px;
	padding-top: 40px;
	box-sizing: border-box;
	text-align: left;
	background-size: cover;
}

.unisantos{
    margin-left: 50px;
}

#head .title{
	display: inline-block;
	text-align: left;
	margin: 40px 50px;
	font-family: 'Conthrax';
	font-weight: 300;
	font-size: 20px;
	line-height: 40px;
	color:#F0F8FF;
	text-transform:uppercase;
}

#content_head a{
	font-family: 'Conthrax', sans-serif;
	text-align: center;
	float: right;
	width: 10%;
	color: white;
	text-decoration: none;
}

#icone img{
	width: 25%;
	height: 20%;
}

#icone p{
	font-size: 2vmin;
}

.info_text{
	font-size: 18px;
	text-indent: 15px;
}

.topnav{
	background-color: #3d5691;
	position: relative;
	min-height: 30px;
	font-family: 'Conthrax', sans-serif;
	margin-top: -20px;
	text-align: left;
	min-width: 100%;
	display: flex;
	overflow: hidden;
}

.topnav a{
	float: left;
	color: black;
	text-align: center;
	padding: 18px 18px;
	text-decoration: none;
	font-size: 3vmin;
	transition: 0.2s;
	flex: 33%;
}

.topnav a:hover{
	background-color: #213054;
	color: white;
}

.topnav img{
	width: 10%;
	height: auto;
}

#header .title h1{
	margin: 0px;
	padding-bottom: 20px;
}

#body{
	background-color:#F0F8FF;
	position: relative;
	padding-bottom: 200px;
	text-align: left;
	min-height: 250px;
	font-size: 28px;
	font-family: "Roboto",sans-serif;
	font-weight:500;
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#body strong{
	color: #2a668a;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 30px;
	font-weight:bolder;
	text-transform: none;
}

#body #content_body{
	padding: 0 20px;
}

#body .row{
	margin: 30px auto;
}

#body .sites{
	max-width: 28px;
    max-height: 28px;
    margin-right: 5px;
    margin-left: 5px;
}

#body .menu .grid{
	width: 33%;
	display: inline-block;
	text-align: center;
}

#body .menu .menu-item{
	background-color: #153b68;
	color: #dde3e9;
	display: inline-block;
	width: 330px;
	min-height: 230px;
	font-family: sans-serif;
	font-weight: 900;
	font-size: 23px;
	border-radius: 8px;
	vertical-align: top;
	margin: 10px;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
	text-transform: uppercase;
	transition: 0.2s;
}

#body .menu .menu-item:hover{
	background-color: #215ba1;
}

#body .menu .menu-item span{
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	width: 90%;
}

#body .menu .menu-item img{
	display: block;
	margin: 0 auto;
	padding-bottom: 15px;
}

.texto button{
	padding: 20px 40px;
	font-size: 30px;
}

#foo {
	position:fixed;
	bottom: 0;
	left: 0;
	padding-bottom: -20%;
	padding-top: 50px;
	min-height: 100px;
	width: 100%;
	background-clip: content-box, padding-box;
	background-color: #173353;
}

#foo .unisantos{
	max-width: 177px;
	width: 99%;
	padding-top: 25px;
}

@media screen and (max-width:1080px){
    #body .menu .grid{
		width: 50%;
	}
}

@media screen and (max-width:960px) {
	#body .menu .grid{
		width: 50%;
	}
}

@media screen and (max-width:850px) {
	#menu .content{
		width: 100%;
		padding: 0;
	}

	#body .text {
		display: inline-block;
		width: 99%;
		margin-left: 0px;
	}

	#menu {
		display: block;
	}
}

@media screen and (max-width:790px) {
	#body .menu .grid{
		width: 100%;
	}

	#body .integrante .platform-links{
		display: flex;
		justify-content: flex-start;
	}
}

@media screen and (max-width:680px) {

	#header .unisantos{
		margin-top: 20px;
	}

	#header .logo{
		line-height: 30px;
	}
	#header .logo h1{
		font-size: 36px;
	}
	#header .logo a{
		font-size: 36px;
	}
	#body .menu .item-menu{
		width: 90%;
	}
}

@media screen and (max-width:600px) {
	#body .menu .grid{
		width: 100%;
	}
}

@media screen and (max-width:360px) {

	#header .logo h1{
		font-size: 30px;
	}
	#header .logo a{
		font-size: 30px;
	}
	#body .menu .grid{
		width: 100%;
	}
	#body .menu .menu-item{
		width: 98%;
		margin: 8px auto;
		min-height: 170px;
	}
}